html {
  font-family: "PT Sans", sans-serif;
  font-family: "PT Serif", serif;
  background-color: #c9b5ab;
  line-height: 1.5;
}

a {
  list-style: none;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  color: #8f2440;
  font-weight: bold;
  font-size: 1.12rem;
  border: none;
}

.nav {
  list-style-type: none;
}

a:hover {
  text-decoration: underline;
  color: #3f1622;
  list-style-type: none;
}

img {
  width: 100%;
  margin-bottom: auto;
}

h1 {
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 1.5rem;
  color: #3f1622;
}

figcaption {
  font-style: italic;
  font-size: 1rem;
  text-align: center;
}

.albino {
  list-style-type: lower-greek;
}

dl {
  list-style-type: none;
}

h2 dl dt {
  font-style: italic;
}

ul {
  list-style-type: none;
}

.germ {
  font-size: 1.125rem;
  font-weight: bold;
}

blockquote p {
  background: #c9b5ab;
  font-family: "PT Serif";
  font-style: italic;
  font-size: 1.5rem;
}

h2 {
  text-decoration: none;
  font-size: 1.25rem;
  font-family: sans-serif;
  color: #3f1622;
}

p {
  font-weight: normal;
}

small a {
  color: #8f2440;
  font-size: .8rem;
}
