html {
  font-family: 'PT Sans', sans-serif;
  font-family: 'PT Serif', serif;
  background-color: #c9b5ab;
}

img {
  width: 100%;
}

h1 {
  font-family: 'PT Sans';
  font-weight: bold;
  font-size: 1.25rem;
}
